@import "variables";
@import "mixins";

body {
    background-color: $darkGrey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dark-input {
	@include border-radius(25px);
	background-color: black;
	max-width: 250px;
	height: 50px;
}

.rounded-button {
	@include border-radius(8px);
}

.col-centered {
    float: none;
    margin: 0 70px auto;
}

.login-container {
	margin-top: 35px;

	input {
		margin-top: 20px;
	}

	button {
		margin-top: 40px;
	}
}

.logo-img {
	//using px since using % does not get displayed
	height: 350px;
	width: 250px;
	background-image: url("../imgs/logo.svg");
	background-repeat: no-repeat;
  	display: inline-block;
}