

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $darkGrey;
    padding: 62px 0px;
}

.dark-input {
	@include border-radius(25px);
	background-color: black;
	height: 60px;
}

.rounded-button {
	@include border-radius(8px);
}

.login-container {
	margin-top: 35px;

	.form-signin{

 		  margin: auto;
		  padding: 0px;
		  display: inline-block;
		  width: 100%;

		.input-login {
			margin-top: 20px;
		}

		.button-container{
			text-align: center;
			.button-login {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
}

.logo-img {
	//using px since using % does not get displayed
	height: 324px;
	width: 242px;
	background-image: url("../imgs/logo.svg");
	margin: 0 auto 10px;
    display: block;
}