@import "variables";
@import "mixins";

body {
    background-color: $darkGrey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.darkInput {
	@include border-radius(25px);
	background-color: black;
	max-width: 250px;
	height: 50px;
}

.roundedButton {
	@include border-radius(8px);
}

.col-centered {
    float: none;
    margin: 0 70px auto;
}

#loginContainer {
	margin-top: 35px;
}