.mixin-in {
  text-align: center;
}

.cart {
  background: white;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 100%;
}
.cart .top-navbar .navbar-fixed-top {
  margin-bottom: 200px;
}
.cart .top-navbar .navbar-fixed-top .navbar-toggle {
  width: 67%;
  float: none;
  margin-left: 15px;
}
.cart .top-navbar .navbar-fixed-top .logo-header {
  width: 37px;
  height: 37px;
  background-image: url("../imgs/logo-header.svg");
  margin: 6px 50px;
}
.cart .top-navbar .navbar-fixed-top .icon-menu {
  width: 30px;
  height: 26px;
  background-image: url("../imgs/menu.svg");
  margin: 12px 5px;
}
.cart .top-navbar .navbar-fixed-top .icon-search {
  width: 23px;
  height: 23px;
  background-image: url("../imgs/search.svg");
  margin: 14px 15px;
}
.cart .top-navbar .navbar-fixed-top .icon-member {
  width: 20px;
  height: 23px;
  background-image: url("../imgs/member.svg");
  margin: 14px 6px;
}
.cart .cart-body .text-row {
  margin-top: 7px;
}
.cart .cart-body .cart-input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  padding: 5px;
}
.cart .cart-body .stock-row {
  margin-bottom: 7px;
}
.cart .cart-body .price-row {
  margin-bottom: 7px;
}
.cart .cart-body .fulfillment-row {
  margin-bottom: 7px;
}
.cart .cart-body .fulfillment-row .select-options {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  height: 46px;
}
.cart .cart-body .add-item-row .add-item-btn {
  width: 100%;
}
.cart .cart-body .add-item-btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.cart .cart-side {
  background: #e2dede;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 100%;
}
.cart .cart-side .subtotals {
  margin-bottom: 40px;
}
.cart .cart-side .subtotals .icon-info {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/info.svg");
  margin: 20px 33px;
}
.cart .cart-side .shopyourway .subtotal-division {
  background-color: black;
}
.cart .cart-side .shopyourway .icon-shopyourway {
  width: 191px;
  height: 21px;
  background-image: url("../imgs/syw_logo.svg");
  margin: 20px 0px;
}
.cart .cart-side .shopyourway .icon-info {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/info.svg");
  margin: 0;
}
.cart .cart-side .shopyourway .apply-coupon-section {
  margin: 20px 0px;
}
.cart .cart-side .shopyourway .apply-coupon-section .apply-coupon-input {
  margin-left: -17px;
}
.cart .cart-side .shopyourway .apply-coupon-section .apply-coupon-btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  border: 3px solid grey;
  margin: -15px -34px;
  height: 61px;
  width: 125px;
}
.cart .cart-side .shopyourway .manage-coupon-btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  border: 3px solid grey;
  height: 61px;
  font-size: 16px;
  margin-left: -7px;
}
.cart .cart-side .shopyourway .add-products-section .actions-btn {
  border: 3px solid black;
}
.cart .cart-side .shopyourway .add-products-section .add-prod-background {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  width: 67px;
  height: 38px;
  background-color: #337ab7;
}
.cart .cart-side .shopyourway .add-products-section .add-prod-background .icon-add-prod {
  width: 52px;
  height: 25px;
  background-image: url("../imgs/add_product_wht.svg");
  margin-left: 5px;
}
.cart .bottom-navbar .icon-separation {
  margin: 12px 20px;
}
.cart .bottom-navbar .icon-separation.icon-products {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/nav_products.svg");
}
.cart .bottom-navbar .icon-separation.icon-recap {
  width: 30px;
  height: 31px;
  background-image: url("../imgs/nav_recap.svg");
}
.cart .bottom-navbar .icon-separation.icon-cart {
  width: 35px;
  height: 32px;
  background-image: url("../imgs/nav_cart.svg");
}
.cart .bottom-navbar .icon-separation.icon-payment {
  width: 33px;
  height: 22px;
  background-image: url("../imgs/nav_payment.svg");
}
