@import "utils/mixins";
@import "utils/variables";

.cart {

	background: white;
	position: absolute;
	width: 100%;
	left: 0px;
	height: 100%;

	
	//navbar top
	.top-navbar {

		.navbar-fixed-top {
			margin-bottom: 200px;

			.navbar-toggle {
			  width: 67%;
			  float: none;
			  margin-left: 15px;
			}

			.logo-header {
				@include display-img(37px, 37px, "../imgs/logo-header.svg");
				margin: 6px 50px;
			}

			.icon-menu {
				@include display-img(30px, 26px, "../imgs/menu.svg");
				margin: 12px 5px;
			}

			.icon-search {
				@include display-img(23px, 23px, "../imgs/search.svg");
				margin: 14px 15px;
			}
				
			.icon-member {
				@include display-img(20px, 23px, "../imgs/member.svg");
				margin: 14px 6px;
			}

		}

	}
	//end navbar top



	
	//cart body
	.cart-body {

		.text-row {
			margin-top: 7px;
		}

		.cart-input {
			@include border-radius(0px);
			width: 100%;
			padding: 5px;
		}

		.stock-row {
			margin-bottom: 7px;
		}

		.price-row{
			margin-bottom: 7px;
		}

		.fulfillment-row {
			margin-bottom: 7px;	

			.select-options {
				@include border-radius(7px);
				height: 46px;
			}
		}

		.add-item-row {

			.add-item-btn {
				width: 100%;
			}
		}


		.add-item-btn {
			@include border-radius(7px);
		}

	}
	//end cart body




	//side cart totals
	.cart-side {

		background: $greyBackground;
		position: absolute;
		width: 100%;
		left: 0px;
		height: 100%;

		.subtotals {

			margin-bottom: 40px;

			.icon-info {
				@include display-img(30px, 30px, "../imgs/info.svg");
				margin: 20px 33px;
			}			

		}



		.shopyourway {

			.subtotal-division {
				background-color: black;
			}

			.icon-shopyourway {
				@include display-img(191px, 21px, "../imgs/syw_logo.svg");
				margin: 20px 0px;
			}

			.icon-info {
				@include display-img(30px, 30px, "../imgs/info.svg");
				margin: 0;
			}

			.apply-coupon-section {

				margin: 20px 0px;

				.apply-coupon-input {
					margin-left: -17px;
				}

				.apply-coupon-btn {
					@include border-radius(15px);
					border: 3px solid grey;
					margin: -15px -34px;
	  				height: 61px;
	  				width: 125px;
				}
			}


			.manage-coupon-btn {
				@include border-radius(15px);
				border: 3px solid grey;
				height: 61px;
				font-size: 16px;
				margin-left: -7px;
			}

			.add-products-section {
				
				.actions-btn {
					border: 3px solid black;
				}

				.add-prod-background {
					@include border-radius(7px);
					width: 67px;
					height: 38px;
					background-color: $blueBootstrap;


					.icon-add-prod {
						@include display-img(52px, 25px, "../imgs/add_product_wht.svg");			
						margin-left: 5px;	
					}

				}

			}

		}

	}
	//end side cart totals 




	//navbar bottom
	.bottom-navbar {


		.icon-separation {
			margin: 12px 20px;
			
			&.icon-products {
				@include display-img(30px, 30px, "../imgs/nav_products.svg");
			}

			&.icon-recap {
				@include display-img(30px, 31px, "../imgs/nav_recap.svg");
			}
			
			&.icon-cart {
				@include display-img(35px, 32px, "../imgs/nav_cart.svg");
			}

			&.icon-payment {
				@include display-img(33px, 22px, "../imgs/nav_payment.svg");
			}
		}

	}
	//end navbar bottom
}