	<div class="container cart">

		<!-- angular directive.. loads top navbar -->
		<div class="top-navbar"></div>
		

		<div class="cart-body">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-row">
					<h5>Scan take-with items or add items manually</h5>
				</div>
			</div>

			<div class="row stock-row">
				<div class="col-xs-4">
					<input 	class="form-control input-lg cart-input">
				</div>
				<div class="col-xs-4">
					<input 	class="form-control input-lg cart-input" placeholder="DIV*">
				</div>
				<div class="col-xs-4">
					<input 	class="form-control input-lg cart-input" placeholder="Stock*">
				</div>
			</div>

			<div class="row price-row">
				<div class="col-xs-6">
					<input 	class="form-control input-lg cart-input" placeholder="SKU">
				</div>
				<div class="col-xs-6">
					<input 	class="form-control input-lg cart-input" placeholder="Price*">
				</div>
			</div>

			<div class="row fulfillment-row">
				<div class="col-xs-12">
					<select class="form-control select-options">
						<option>FULFILLMENT</option>
					</select>
				</div>
			</div>

			<div class="row add-item-row">
				<div class="col-xs-12">
					<button class="btn btn-primary btn-lg add-item-btn">ADD ITEM</button>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p>* required</p>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-xs-12 text-center">
					<p>0 Items: <strong>$0.00</strong></p>
				</div>
			</div>
		</div>




		


		

		<!-- angular directive.. loads bottom navbar -->
		<div class="bottom-navbar"></div>

	</div>