	<div class="container cart">


	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header col-xs-4">
				<div class="navbar-toggle navbar-left icon-menu" data-toggle="collapse" data-target="#collapsed-data"></div>
			</div>

			<div class="logo-header pull-left"></div>
				<div class="icon-member pull-right"></div>
				<div class="icon-search pull-right"></div>

			<div class="collapse navbar-collapse" id="collapsed-data">
				<!-- le collapsed data -->
			</div>

		</div>
	</nav>


		
		<div class="row text-row">
			<div class="col-xs-8 col-xs-offset-2">
				<h5>Scan take-with items or add items manually</h5>
			</div>
		</div>

		<div class="row stock-row">
			<div class="col-xs-4">
				<input 	class="form-control input-lg cart-input">
			</div>
			<div class="col-xs-4">
				<input 	class="form-control input-lg cart-input" placeholder="DIV*">
			</div>
			<div class="col-xs-4">
				<input 	class="form-control input-lg cart-input" placeholder="Stock*">
			</div>
		</div>

		<div class="row price-row">
			<div class="col-xs-6">
				<input 	class="form-control input-lg cart-input" placeholder="SKU">
			</div>
			<div class="col-xs-6">
				<input 	class="form-control input-lg cart-input" placeholder="Price*">
			</div>
		</div>

		<div class="row fulfillment-row">
			<div class="col-xs-12">
				<select class="form-control select-options">
					<option>FULFILLMENT</option>
				</select>
			</div>
		</div>

		<div class="row add-item-row">
			<div class="col-xs-12">
				<button class="btn btn-primary btn-lg add-item-btn">ADD ITEM</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p>* required</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-xs-12 text-center">
				<p>0 Items: <strong>$0.00</strong></p>
			</div>
		</div>



		<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
			<div class="container-fluid">	

				
					<div class="icon-products pull-left icon-separation"></div>
					<div class="icon-recap pull-left icon-separation"></div>
					<div class="icon-cart pull-left icon-separation"></div>
					<div class="icon-payment pull-left icon-separation"></div>

				<div class="collapse navbar-collapse" id="collapsed-data">
					<!-- add data to collapse area-->
				</div>

			</div>
		</nav>


	</div>