<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header col-xs-4">
			<div class="navbar-toggle navbar-left icon-menu" data-toggle="collapse" data-target="#collapsed-data"></div>
		</div>

		<div class="logo-header pull-left"></div>
			<div class="icon-search pull-left"></div>
			<div class="icon-member pull-left"></div>

		<div class="collapse navbar-collapse" id="collapsed-data">
			<!-- le collapsed data -->
		</div>

	</div>
</nav>