$logo-url: 'imgs/logo-header.svg';
$logo-width: 37px;
$logo-heigh: 37px;

$menu-url: image-url('img/menu.svg');
$menu-width: 30px;
$menu-heigh: 26px;

$search-url: image-url('img/search.svg');
$search-width: 23px;
$search-heigh: 23px;

$member-url: image-url('img/member.svg');
$member-width: 20px;
$member-heigh: 23px;
