$logo-url: 'img/logo-header_ipod.png';
$logo-width: 64px;
$logo-heigh: 64px;

$menu-url: image-url('img/menu_ipod.png');
$logo-width: 64px;
$logo-heigh: 67px;

$search-url: image-url('img/search_ipod.png');
$logo-width: 68px;
$logo-heigh: 56px;

$member-url: image-url('img/member_ipod.png');
$logo-width: 72px;
$logo-heigh: 60px;